<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="serverConnection" connectionString="Data Source=CTDIR-26464-CBG;Initial Catalog=inventario;Integrated Security=True"/>-->
    <add name="serverConnection" connectionString="Data Source=CT9BD2;Initial Catalog=inventario;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>
    <!--<add name="serverConnection" connectionString="Data Source=CTSEM-31271-LVG\SQLEXPRESSMAC;Initial Catalog=Inventario;Trusted_Connection=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="Institucion" value="Suprema Corte de Justicia de la Nación" />
    <add key="AreaCorteL1" value="Coordinación General de Compilación y" />
    <add key="AreaCorteL2" value="Sistematización de Tesis" />
    <add key="TituloComputo" value="Resguardo individual de equipo de cómputo" />
    <add key="TituloMobiliario" value="Resguardo individual mobiliario" />
    <add key="ResponsableComputo" value="Lic. Alexis Gerardo Díaz Díaz" />
    <add key="ResponsableMobiliario" value="Lic. Alexis Gerardo Díaz Díaz" />
    <add key="ImagenReportes" value="\\ct9iis1\inventario\scjn.jpg" />
    <add key="QuienReporta" value="84489,27419,15860" />
    <add key="EncabezadoReportesSize" value="13" />
    <add key="EncabezadoReportesFont" value="Arial" />
    <add key="ContenidoReportesSize" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>